input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10rem;
    border-color: rgb(230, 196, 184);
  }

  label {
	color: #4e3e40;
}