body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFAFBD, #ffc3a0);
    font-family: 'Georgia', monospace;
}

h1 {
    color:  #4e3e40;
}

h3 {
    color:  #8a6c70;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}