<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DEAR | Drink & Eat Affordably Ranking</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    </head>
    <body>
        <main>
            <div class="box">
                <h3 style="margin-bottom: 5px;">Welcome to </h3>
                <h1 style="margin-bottom: 5px; margin-top: 15px;"">DEAR</h1>
                <h3 style="margin-bottom: 70px;">Drink & Eat Affordably Ranking</h3>
                <div class="container">                
                    <a href="sign_in" class="button">Sign in</a><br>
                    <p style="color:  #8a6c70;">Don't you have an account yet? Sing Up</p>
                    <a href="sign_up" class="button">Sign up</a>
                </div> 
            </div> 
        </main>
    </body>
</html>