<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DEAR | Drink & Eat Affordably Ranking</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    </head>
    <body>
        <main>
            <div class="box">
                <h1 style="margin-bottom: 5px; margin-top: 15px;"">Sign up</h1>
                <h3 style="margin-bottom: 70px;">Fill the fields below</h3>
                <form action="" method="post" id="form_signup">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {{ form.csrf_token }}
                    
                    <label for="email">Email:</label><br>
                    <input class="form_field" id="email" name="email" required="" type="text" value="">
                    {% for error in form.email.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}

                    <label for="username">Username:</label><br>
                    <input class="form_field" id="username" name="username" required="" type="text" value="">
                    {% for error in form.username.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}

                    <label for="password">Password:</label><br>
                    <input class="form_field" id="password" name="password" required="" type="password" value="">
                    {% for error in form.password.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}

                    <label for="password_confirmed">Confirm password:</label><br>
                    <input id="password_confirmed" name="password_confirmed" required="" type="password" value="">
                    {% for error in form.password_confirmed.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}

                </form>
                <br>
                <button class="button" type="submit" form="form_signup" value="Submit">Submit</button>
            </div> 
        </main>
    </body>
</html>